# Data Exploration Exercise with Covid-19 Data

In [9]:
import numpy as np
import pandas as pd
import os
import urllib
%matplotlib inline

In [6]:
url = "https://covid19.who.int/WHO-COVID-19-global-data.csv"
file_path=os.path.join("data", "covid")

In [7]:
os.makedirs(file_path, exist_ok=True)
csv_path = os.path.join(file_path, "WHO-Covid-19-global-data.csv")
urllib.request.urlretrieve(url, csv_path)

('data\\covid\\WHO-Covid-19-global-data.csv',
 <http.client.HTTPMessage at 0x22b42a6fa90>)

In [48]:
df = pd.read_csv(csv_path)
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
195046,2022-03-31,ZW,Zimbabwe,AFRO,140,246182,1,5440
195047,2022-04-01,ZW,Zimbabwe,AFRO,104,246286,4,5444
195048,2022-04-02,ZW,Zimbabwe,AFRO,0,246286,0,5444
195049,2022-04-03,ZW,Zimbabwe,AFRO,195,246481,2,5446
195050,2022-04-04,ZW,Zimbabwe,AFRO,44,246525,0,5446

In [15]:
df_index = df.index
df_cols = df.columns
df_index, df_cols

(RangeIndex(start=0, stop=195051, step=1),
 Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
        'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
       dtype='object'))

In [16]:
df_index.values

array([     0,      1,      2, ..., 195048, 195049, 195050], dtype=int64)

In [18]:
df.values

array([['2020-01-03', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-04', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-05', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ...,
       ['2022-04-02', 'ZW', 'Zimbabwe', ..., 246286, 0, 5444],
       ['2022-04-03', 'ZW', 'Zimbabwe', ..., 246481, 2, 5446],
       ['2022-04-04', 'ZW', 'Zimbabwe', ..., 246525, 0, 5446]],
      dtype=object)

In [19]:
df.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [20]:
df.shape

(195051, 8)

In [22]:
df.head(3)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0

In [23]:
df.tail(3)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
195048,2022-04-02,ZW,Zimbabwe,AFRO,0,246286,0,5444
195049,2022-04-03,ZW,Zimbabwe,AFRO,195,246481,2,5446
195050,2022-04-04,ZW,Zimbabwe,AFRO,44,246525,0,5446

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195051 entries, 0 to 195050
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      195051 non-null  object
 1   Country_code       194228 non-null  object
 2   Country            195051 non-null  object
 3   WHO_region         195051 non-null  object
 4   New_cases          195051 non-null  int64
 5   Cumulative_cases   195051 non-null  int64
 6   New_deaths         195051 non-null  int64
 7   Cumulative_deaths  195051 non-null  int64
dtypes: int64(4), object(4)
memory usage: 11.9+ MB

In [25]:
df.describe()

          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  1.950510e+05      1.950510e+05  195051.000000      195051.000000
mean   2.511031e+03      5.762086e+05      31.540956       11280.752337
std    1.667869e+04      3.121504e+06     165.921428       52939.871542
min   -3.295200e+04      0.000000e+00   -2471.000000           0.000000
25%    0.000000e+00      1.640000e+02       0.000000           1.000000
50%    2.300000e+01      1.037600e+04       0.000000         136.000000
75%    5.130000e+02      1.530265e+05       6.000000        2563.000000
max    1.252510e+06      7.941451e+07   11447.000000      974179.000000

In [27]:
df["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Côte d’Ivoire', 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint Barthélemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [28]:
#strip out possible white columns
df.columns = [col.strip() for col in df.columns]

In [29]:
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [35]:
df.loc[1:8,['Country','New_cases']]

       Country  New_cases
1  Afghanistan          0
2  Afghanistan          0
3  Afghanistan          0
4  Afghanistan          0
5  Afghanistan          0
6  Afghanistan          0
7  Afghanistan          0
8  Afghanistan          0

In [37]:
df[df.Country == 'United States of America']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
185998,2020-01-03,US,United States of America,AMRO,0,0,0,0
185999,2020-01-04,US,United States of America,AMRO,0,0,0,0
186000,2020-01-05,US,United States of America,AMRO,0,0,0,0
186001,2020-01-06,US,United States of America,AMRO,0,0,0,0
186002,2020-01-07,US,United States of America,AMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
186816,2022-03-31,US,United States of America,AMRO,25676,79292582,722,971569
186817,2022-04-01,US,United States of America,AMRO,50317,79342899,1261,972830
186818,2022-04-02,US,United States of America,AMRO,41738,79384637,751,973581
186819,2022-04-03,US,United States of America,AMRO,29874,79414511,598,974179
186820,2022-04-04,US,United States of America,AMRO,0,79414511,0,974179

In [43]:
df.loc[(df.New_deaths > 1000) & (df.Country_code == 'US'), ['New_deaths', 'Country']]

        New_deaths                   Country
186089        1121  United States of America
186090        1309  United States of America
186091        1370  United States of America
186092        1546  United States of America
186093        1869  United States of America
...            ...                       ...
186802        1397  United States of America
186803        1500  United States of America
186804        1053  United States of America
186810        1271  United States of America
186817        1261  United States of America

[385 rows x 2 columns]

In [44]:
df.loc[df.Country_code == 'US', ['New_cases']].max()

New_cases    1252510
dtype: int64

In [45]:
df.loc[df.Country_code == 'US', ['New_cases']].sum()

New_cases    79414511
dtype: int64

In [46]:
df.loc[df.Country_code == 'US', ['Cumulative_deaths']].max()

Cumulative_deaths    974179
dtype: int64

In [50]:
df.New_deaths.idxmax()

34552

In [51]:
df.loc[df.New_deaths.idxmax(), ['Date_reported', 'Country', 'New_cases', 'New_deaths']]

Date_reported    2022-03-22
Country               Chile
New_cases              8167
New_deaths            11447
Name: 34552, dtype: object

In [52]:
df['pct_cases'] = (df['New_cases'] / df['Cumulative_cases']) * 100

In [53]:
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,pct_cases
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0,NaN
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0,NaN
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0,NaN
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0,NaN
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...
195046,2022-03-31,ZW,Zimbabwe,AFRO,140,246182,1,5440,0.056868
195047,2022-04-01,ZW,Zimbabwe,AFRO,104,246286,4,5444,0.042227
195048,2022-04-02,ZW,Zimbabwe,AFRO,0,246286,0,5444,0.000000
195049,2022-04-03,ZW,Zimbabwe,AFRO,195,246481,2,5446,0.079114
195050,2022-04-04,ZW,Zimbabwe,AFRO,44,246525,0,5446,0.017848